# Numerous always-ignore extensions
*.diff
*.err
*.bat
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache


# OS or Editor folders
.DS_Store*
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
ehthumbs.db
Icon?
*.swp


# Magento Specific
.htaccess.sample
.modgit/
.modman/
app/code/
app/design/adminhtml/
app/design/frontend/base/
app/design/frontend/rwd/
app/design/frontend/default/
app/design/frontend/enterprise/
app/design/install/
app/etc/
app/.htaccess
app/bootstrap.php
app/locale/
app/Mage.php
/cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/
lib/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/
sitemap.xml
skin/adminhtml/
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/
skin/frontend/enterprise
skin/frontend/magentones/default/bower_components/
skin/install/
var/


# Theme Specific
node_modules
